@()(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>SPA</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
        <script type="text/javascript">
            window.wsUrl = "@{routes.Application.ws().webSocketURL()}";
        </script>
        <div id="container"></div>

        @scalajs.html.scripts(
            "example-client",
            name ⇒ routes.Assets.versioned(name).toString,
            name ⇒ getClass.getResource(s"/public/$name") != null)
    </body>
</html>
